header {
    height: 10%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: var(--gradient);
    box-shadow: 0 5px 8px var(--gray-color);
}

.header__info {
    color: #000;
}

.header__wrapper_btns {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__btn_theme {
    font-size: 30px;
    padding: 0 2px 3px 2px;
    border-radius: 100px;
    background-color: transparent;
    transition: transform var(--transition-medium);
}
.header__btn_theme:hover {
    background-color: transparent;
    transform: rotateZ(180deg);
}

.header__wrapper_size {
    display: flex;
    gap: 10px;
}
.header__btn_size-down,
.header__btn_size-up {
    font-weight: bold;
    font-size: 20px;
    padding: 0 0 3px 0;
    width: 36px;
}
.header__icon {
    width: 30px;
}


.header__link {
    display: inline-flex;
    padding: 5px;
    border-radius: var(--border-radius-small);
    transition: background-color var(--transition-fast);
}
.header__link:hover {
    background-color: var(--accent-color);
}