@media screen and (max-width: 900px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  .btn-wrapper:nth-child(odd) {
    background-color: transparent;
  }
  .btn-wrapper:nth-child(1) {
    background-color: var(--transparent-dark);
  }
  .btn-wrapper:nth-child(4) {
    background-color: var(--transparent-dark);
  }
  .btn-wrapper:nth-child(5) {
    background-color: var(--transparent-dark);
  }
  .btn-wrapper:nth-child(8) {
    background-color: var(--transparent-dark);
  }
  .btn-wrapper:nth-child(9) {
    background-color: var(--transparent-dark);
  }
  .btn-wrapper:nth-child(12) {
    background-color: var(--transparent-dark);
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: auto;
    padding: 10px;
  }

  .header__wrapper {
    margin: 0 auto;
    text-align: center;
  }

  .header__wrapper_btns {
    width: 100%;
    padding-top: 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }

  .btn-wrapper {
    background-color: transparent;
  }
  .btn-wrapper:nth-child(even) {
    background-color: transparent;
  }
  .btn-wrapper:nth-child(odd) {
    background-color: var(--transparent-dark);
  }
}

@media screen and (max-width: 400px) {
  .header__wrapper_btns {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .header__wrapper_contacts {
    width: 100%;
    order: -1;
    display: flex;
    justify-content: center;
  }
}
