.show-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 100px 1rem;

    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #000d;
}

.show-box__title {
    text-align: center;
    font-size: 2em;
    color: var(--accent-color);
}

.show-box__info {
    padding-bottom: 1rem;
    color: #ccc;
}

.show-box__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.show-box__wrapper_code {
    flex-direction: column;
}

.btn.show-box__btn {
    padding: 8px 24px;
}

.show-box code {
    background-color: transparent;
    color: #fff;
}

span.hljs-number {
    color: #999;
}
span.hljs-attribute {
    color: #ffcc6d;
}

.show-box pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}