/***************** PRESETS *****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --main-color: #777;
  --secondary-color: #333;
  --accent-color: #fa0;
  --gray-color: #444;
  --transparent-dark: #0007;
  --gradient: linear-gradient(var(--secondary-color), var(--main-color));

  --transition-fast: 150ms;
  --transition-medium: 200ms;

  --border-radius-medium: 10px;
}

html {
  font-size: 18px;
  font-family: 'Verdana', 'Arial', sans-serif;
  height: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  height: 100%;
  color: #fff;
  background-color: var(--main-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.usual-btn {
  font-family: 'Verdana';
  font-size: 1em;
  padding: 0.3em 1em;
  border-radius: var(--border-radius-medium);
  border: none;
  cursor: pointer;
  margin: 0 0.5em 0 0.5em;
  transition: 150ms;
  background-color: #fff;
}
.usual-btn:hover {
  background-color: var(--accent-color);
}
.usual-btn:focus {
  outline: none;
}


header {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: var(--gradient);
  box-shadow: 0px 5px 8px var(--gray-color);
}

.header__info {
  color: #000;
}

.menu {
  list-style: none;
}

.menu-btn {
  font-size: 1.3rem;
  font-weight: bold;
  display: inline-block;
  margin-right: 1.5em;
  cursor: pointer;
  transition: .15s;
}
.menu-btn:hover {
  transform: scale(1.1);
}

/* change size of buttons*/
.btn-size {
  padding: 0 0.4em 0 0.4em;
  margin: 0 .1em 0 .1em;
}
.btn-size:last-child {
  padding: 0 0.5em 0 0.5em;
}



/***************** BUTTONS-AREA *****************/
main {
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.show-btn {
  font-family: 'Verdana';
  background-color: #fff;
  font-size: 1.3em;
  padding: 0.3em 1em;
  cursor: pointer;
  border-radius: var(--border-radius-medium);
  border: 3px solid transparent;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-div:nth-child(odd) {
  background-color: var(--transparent-dark);
}




/***************** BUTTON SHOW BOX *****************/
.show-box {
  padding: 0 5% 0 5%;
  position: absolute;
  top: 5%;
  left: 15%;
  bottom: 5%;
  right: 15%;
  border-radius: var(--border-radius-medium);
  border: 5px solid var(--accent-color);
  background-color: #000d;
  color: white;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.code-title {
  font-size: 2em;
  color: var(--accent-color);
}
#effect-css {
  margin-top: 1em;
  user-select: text;
}


/***************** BUTTONS AND THEIR ANIMATIONS *****************/
#squeezeMe {
  padding: 0.1em 0.8em;
  border: 8px solid transparent;
  transition: border var(--transition-fast);
}
#squeezeMe:hover {
  border-right: 8px solid var(--accent-color);
  border-left: 8px solid var(--accent-color);
}


#rocketMe {
  transition: var(--transition-medium);
}
#rocketMe:hover {
  transform: translateY(-4px);
  box-shadow: 0px 10px 6px -2px var(--accent-color);
  color: var(--accent-color);
}


#lightMe {
  transition: box-shadow 200ms, color 200ms;
}
#lightMe:hover {
  color: var(--accent-color);
  box-shadow: 0px 1px 3px 3px var(--accent-color);
}


#transparentMe {
  border: 5px solid transparent;
  transition: border var(--transition-fast), background-color var(--transition-fast);
}
#transparentMe:hover {
  border: 5px solid var(--accent-color);
  background-color: transparent;
}


#shadowMe {
  transition: box-shadow var(--transition-fast);
}
#shadowMe:hover {
  box-shadow: inset 0px 0px 3px 3px var(--accent-color);
}


#offsetMe {
  outline: 5px solid transparent;
  outline-offset: -9px;
  transition: outline-offset var(--transition-medium), outline-color var(--transition-medium);
}
#offsetMe:hover {
  outline-color: var(--accent-color);
  outline-offset: -2px;
}


#scaleMe {
  transition: transform var(--transition-fast), background-color var(--transition-fast);
}
#scaleMe:hover {
  transform: scale(1.03);
  background-color: var(--accent-color);
}


#pushMe {
  border: none;
  border-bottom: 6px solid #000;
  transition: var(--transition-fast);
}
#pushMe:hover {
  border-bottom: 3px solid #000;
  transform: translateY(2px);
  background-color: var(--accent-color);
}


#skewMe {
  transition: transform var(--transition-fast), background-color var(--transition-fast);
}
#skewMe:hover {
  transform: skew(-6deg);
  background-color: var(--accent-color);
}


#colorMe {
  background-color: transparent;
  border: 3px solid #000;
  transition: var(--transition-medium);
}
#colorMe:hover {
  border-color: transparent;
  background-color: var(--accent-color);
  box-shadow: 0 0 6px 3px var(--accent-color);
}


#descendMe {
  transition: transform var(--transition-medium), background-color var(--transition-medium);
}
#descendMe:hover {
  background-color: var(--accent-color);
  transform: translateY(4px);
}


#squareMe {
  transition: border-color var(--transition-fast), border-radius var(--transition-fast);
}
#squareMe:hover {
  border-radius: 0px;
  border-color: var(--accent-color);
}
